data/units.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="unit">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:integer" name="from-verse"/>
          <xs:attribute type="xs:integer" name="to-verse"/>
          <xs:attribute type="xs:integer" name="from-chapter"/>
          <xs:attribute type="xs:integer" name="to-chapter"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="chapter">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="unit" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:integer" name="n"/>
      <xs:attribute type="xs:integer" name="from-chapter" use="optional"/>
      <xs:attribute type="xs:integer" name="from-verse"/>
      <xs:attribute type="xs:integer" name="to-chapter" use="optional"/>
      <xs:attribute type="xs:integer" name="to-verse"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="book">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="unit"/>
        <xs:element ref="chapter"/>
      </xs:choice>
      <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="units">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="book" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>